/*
? @document-start
======================
| PRIMARY STYLESHEET |
==================================================================================================================================

? @author:                 Amy Nikitas, Gabrielle Befort
? @document-name:          main-style.css
? @document-created:       03/22/2022
? @document-modified:      03/22/2022
? @document-version:       v1.0.0

==================================================================================================================================

? @document-info
==================
| ABOUT DOCUMENT |
==================================================================================================================================

Coming soon

==================================================================================================================================

? @document-todo
=================
| DOCUMENT TODO |
==================================================================================================================================

-   

==================================================================================================================================
*/

/* ---------------- */
/* Global Variables */
/* ---------------- */

:root {

}

/* ------------------- */
/* Global Declarations */
/* ------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ------------- */
/* Header Section */
/* ------------- */

/* ------------ */
/* Main Section */
/* -------------*/

/* -------------- */
/* Footer Section */
/* ---------------*/


