/*
? @document-start
======================
| PRIMARY STYLESHEET |
==================================================================================================================================

? @author:                 Amy Nikitas, Gabrielle Befort
? @document-name:          main-style.css
? @document-created:       03/22/2022
? @document-modified:      03/22/2022
? @document-version:       v1.0.0

==================================================================================================================================

? @document-info
==================
| ABOUT DOCUMENT |
==================================================================================================================================

==================================================================================================================================

? @document-todo
=================
| DOCUMENT TODO |
==================================================================================================================================

==================================================================================================================================
*/

/* ---------------- */
/* Global Variables */
/* ---------------- */

/*This is the color scheme for our website*/
:root {
    --dr-blue: #5020b0;
    --blue: #4762c4;
    --purple: #5a2585;
    --lt-blue: #41a0d6;
    --dr-pink: #932f81;
    --pink: #c93880;
    --white: #ffffff;
    --border-radius: .3rem;
}

/* ------------------- */
/* Global Declarations */
/* ------------------- */

/* overwrite bulma styles */
html {
    
} 

body {
    
}

/* --------------- */
/* Utility Classes */
/* --------------- */

.fill-viewport {
    width: 100vw;
    height: 100vh;
}


/* ------------------ */
/* Main Header Styles */
/* ------------------ */

/* Main <header> div */
.main-header {

}

/* Header sub-text */
.main-header > p {
    color: #84c7ff;
}

/* ------------------- */
/* Main Section Styles */
/* ------------------- */

.neo-search-field-parent {
    position: relative;
}

.neo-search-history-container {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 100px;
    overflow-y: scroll;
}

.neo-search-history-container > button {
    display: block;
    width: 100%;
    text-align: left;
    background-color: inherit;
    border-radius: 0;
    border: none;
    transition: background-color 0.25s;
}

.neo-search-history-container > button:hover {
    background-color: rgb(199, 199, 199);
}

.search-dropdown {
    z-index: 10;
    position: absolute;
    min-height: 50px;
    background-color: rgb(219, 219, 219);
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Modify scrollbar container */
.neo-search-history-container::-webkit-scrollbar {
    width: 10px;
}
  
/* Modify scrollbar track */
.neo-search-history-container::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f1;
}

/* Modify scrollbar thumb */
.neo-search-history-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.neo-table-body {
    height: 300px;
    overflow-y: scroll;
}

.image-container {
    background-color: #8e8e8e;
    overflow-y: scroll;
    height: 300px;
}


