/*
? @document-start
======================
| PRIMARY STYLESHEET |
==================================================================================================================================

? @author:                 Amy Nikitas, Gabrielle Befort
? @document-name:          main-style.css
? @document-created:       03/22/2022
? @document-modified:      03/22/2022
? @document-version:       v1.0.0

==================================================================================================================================

? @document-info
==================
| ABOUT DOCUMENT |
==================================================================================================================================

==================================================================================================================================

? @document-todo
=================
| DOCUMENT TODO |
==================================================================================================================================

==================================================================================================================================
*/

/* ---------------- */
/* Global Variables */
/* ---------------- */

/*This is the color scheme for our website*/
:root {
    --dr-blue: #5020b0;
    --blue: #4762c4;
    --purple: #5a2585;
    --lt-blue: #41a0d6;
    --dr-pink: #932f81;
    --pink: #c93880;
    --white: #ffffff;
    --border-radius: .3rem;
}

/* ------------------- */
/* Global Declarations */
/* ------------------- */

/* overwrite bulma styles */
html {
    
} 

body {
    
}

/* --------------- */
/* Utility Classes */
/* --------------- */

.fill-viewport {
    width: 100vw;
    height: 100vh;
}


/* ------------------ */
/* Main Header Styles */
/* ------------------ */

/* Main <header> div */
.main-header {

}

/* Header sub-text */
.main-header > p {
    color: #84c7ff;
}

/* ------------------- */
/* Main Section Styles */
/* ------------------- */

.image-container {
    background-color: #8e8e8e;
    overflow-y: scroll;
    height: 300px;
}


